<%= render partial: 'welcome' %>
<%= render partial: 'mission' %>
<section id="chi-siamo" data-speed="5" data-offsetY="-100px" data-type="background">
</section>
<%= render partial: 'aree_intervento' %>
<section id="aree-intervento" data-offsetY="400px" data-speed="5" data-type="background">
</section>
<%= render partial: 'progetti_one' %>
<section id="progetti-one" data-offsetY="400px" data-speed="5" data-type="background">
</section>
<%= render partial: 'progetti_two' %>
<section id="progetti-two" data-offsetY="600px" data-speed="5" data-type="background">
</section>
<%= render partial: 'chi_siamo' %>
<section id="contatti" data-offsetY="500px" data-speed="5" data-type="background">
</section>
<%= render partial: 'contatti' %>